---
# CSS generator file
---
@charset "utf-8";

@import "milligram";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Actor');

html {
  font-family: 'Actor', sans-serif;
  background-color: #F0F0F0;
}

.content {
  margin-top: 18%;
  text-align: center;
}

.give-border {
  border: 0.5px solid #292929;
}

.social-media i {
	margin: 0 1%;
}