---
# CSS generator file
---
@charset "utf-8";

@import "milligram";
@import "font-awesome";

@font-face {
  font-family: 'Actor';
  src: url('/fonts/Actor-Regular/Actor-Regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Actor-Regular/Actor-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Actor-Regular/Actor-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Actor-Regular/Actor-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/Actor-Regular/Actor-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Actor-Regular/Actor-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

html {
  font-family: 'Actor', sans-serif;
  background-color: #F0F0F0;
}

.content {
  text-align: center;
  height: 35%;
  margin-top: 15%;
  margin-left: 25%;
  width: 50%;
}

.give-border {
  border: 0.5px solid #292929;
}

.public-profiles i {
	margin: 0 1%;
	transition: all 0.5s ease;
}

.public-profiles i:hover {
	transition: all 0.5s ease;
}

.fu-twitter:hover {
	color: #0084b4;
}

.fu-google-plus-official:hover {
	color: #dd4b39;
}

.fu-linkedin:hover {
	color: #0077B5;
}

.fu-github:hover {
	color: black;
}

.fu-wordpress:hover {
	color: #21759b;
}

.fu-envelope:hover {
	color: orange;
}

.fu-file-text:hover {
	color: #999966;
}
